[include mainsail.cfg]
[include SSMacro.cfg]

#-----------------
[exclude_object]
[force_move]

[mcu]
canbus_uuid:73ae27028b1f
canbus_interface:can0

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 15000
max_z_velocity: 10          # Z-axis maximum speed
max_z_accel: 100           # Z-axis maximum acceleration

[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
number_of_results_to_keep: 3
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
max_freq: 150
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

#---------------------------------------------------------------------
# [mcu btt_adxl345]
# serial: /dev/serial/by-id/usb-Klipper_rp2040_50443403102F831C-if00

# [adxl345]
# #Btt
# cs_pin: btt_adxl345:gpio9
# spi_software_sclk_pin: btt_adxl345:gpio10
# spi_software_mosi_pin: btt_adxl345:gpio11
# spi_software_miso_pin: btt_adxl345:gpio8
# axes_map: x, -y, -z #(conection front)

[probe]
pin: ^toolhead: PROBE_1 #Probe-Stop Connection on Skr Mini Pro V1.2
#z_offset: 10 #2.815 #Measure per your specific setup
x_offset: -20 # negative = left of the nozzle
y_offset: -10 # negative = in front of of the nozzle
speed: 5.0
lift_speed: 15.0
sample_retract_dist: 2
samples: 3
samples_tolerance_retries: 6

[resonance_tester]
accel_per_hz:100
max_freq:175
probe_points: 60, 60, 20
accel_chip: lis2dw #adxl345

[input_shaper]

shaper_type_x = ei
shaper_freq_x = 115.6
shaper_type_y = ei
shaper_freq_y = 92.6

#---------------------------------------------------------------------
 

##[(7x7)-1] / 2 = 24
##[(5x5)-1] / 2 = 12
#[bed_mesh]
#speed: 300
#horizontal_move_z: 5
#mesh_min: 8,30
#mesh_max: 223,215
#probe_count: 5,5
#relative_reference_index: 12
#algorithm: bicubic
#fade_start: 1
#fade_end: 10
#fade_target:
#   The z position in which fade should converge. When this value is set
#   to a non-zero value it must be within the range of z-values in the mesh.
#   Users that wish to converge to the z homing position should set this to 0.
#   Default is the average z value of the mesh.
#split_delta_z: 0.015
#   The amount of Z difference (in mm) along a move that will
#   trigger a split. Default is .025.
#move_check_distance: 3
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
#mesh_pps: 4,4
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed
#   point. The user may enter a single value which will be applied
#   to both axes.  Default is 2,2.
#bicubic_tension: .2
#   When using the bicubic algorithm the tension parameter above
#   may be applied to change the amount of slope interpolated.
#   Larger numbers will increase the amount of slope, which
#   results in more curvature in the mesh. Default is .2.


[homing_override]
set_position_z:0 # Make printer think Z axis is at zero, so we can force a move upwards away from build plate
gcode:
   G90
   G1 Z10 F3000 ; move up to prevent accidentally scratching build plate    
   G28 X
   G28 Y
   G1 Y110 F4000
   PROBE_OUT
   G1 X82 Y50 F6000
   G28 Z
   _CZTILT  ;Z Tilt if not done
   #Z_TILT_ADJUST
   PROBE_IN   

[z_tilt]
z_positions:
 -43.5, 13
 60, 126
 163.5, 13

#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the X, Y position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
points:
  25,0
  81,106
  132,0
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
speed: 150
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 11
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
retries: 5
#   Number of times to retry if the probed points aren't within
#   tolerance.
retry_tolerance: 0.02
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.



#AUTOTUNE-----------------------------------------------------------#
[autotune_tmc stepper_x]
motor: omc-14hs20-1504s
sg4_thrs:100
tuning_goal = performance
[autotune_tmc stepper_y]
motor: omc-14hs20-1504s
sg4_thrs:115
tuning_goal = performance

[autotune_tmc stepper_z]
motor: 17HS13-0404S1
tuning_goal = auto
[autotune_tmc stepper_z1]
motor: 17HS13-0404S1
tuning_goal = auto
[autotune_tmc stepper_z2]
motor: 17HS13-0404S1
tuning_goal = auto
[autotune_tmc extruder]
motor: 14RE08-1004S-H
tuning_goal = auto

[motor_constants 17HS13-0404S1]
# Coil resistance, Ohms
resistance: 30.00
# Coil inductance, Henries
inductance: 37.00
# Holding torque, Nm
holding_torque: 0.26
# Nominal rated current, Amps
max_current: 0.40
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200



[motor_constants 14RE08-1004S-H]
# Coil resistance, Ohms
resistance: 2.1
# Coil inductance, Henries
inductance: 1.1
# Holding torque, Nm
holding_torque: 0.1
# Nominal rated current, Amps
max_current: 1.00
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200


#Toolhead-------------------------------------------------------#
[mcu toolhead]
canbus_uuid: 0d88d64129f5

[board_pins toolhead]
mcu: toolhead
aliases:
aliases_2209:
    EXT_EN=gpio14,EXT_STEP=gpio7,EXT_DIR=gpio6,EXT_UART=gpio15,EXT_DIAG=
aliases_endstop:
    LIMIT_0=gpio20,LIMIT_1=gpio16
aliases_probe: 
    PROBE_1=gpio22,PROBE_2=gpio24
aliases_cnc_fans:
    FAN0=gpio13,FAN1=gpio21
aliases_thermistors:
    TH0=gpio27,PT100=gpio17,TC0=
aliases_heaters:
    HE0=gpio23
aliases_rgb:
    RGBLED=gpio26
aliases_lis2dw:
    LIS2DW=gpio12
aliases_spi:
    MOSI=gpio3,MISO=gpio4,SCK=gpio2
    
[temperature_sensor toolhead]
sensor_type: temperature_mcu
sensor_mcu: toolhead

[lis2dw]
cs_pin: toolhead:gpio12
spi_software_sclk_pin: toolhead:gpio2
spi_software_mosi_pin: toolhead:gpio3
spi_software_miso_pin: toolhead:gpio4
# cs_pin: toolhead:LIS2DW
# spi_software_sclk_pin: toolhead:SCK
# spi_software_mosi_pin: toolhead:MOSI
# spi_software_miso_pin: toolhead:MISO

# Toolhead Configuration -------------------------------------- #

[extruder]
step_pin: toolhead:EXT_STEP                              
dir_pin: toolhead:EXT_DIR                                
enable_pin: !toolhead:EXT_EN                                  

heater_pin:  toolhead:HE0                           
sensor_pin:  toolhead:TH0                            
sensor_type: ATC Semitec 104NT-4-R025H42G #PT1000 #Generic 3950
pullup_resistor: 1450 
#control = pid
#pid_kp = 27.234
#pid_ki = 2.040
#pid_kd = 90.893

rotation_distance: 28                          
gear_ratio: 50:8                                  
microsteps: 16

nozzle_diameter: 0.400
filament_diameter: 1.750
min_temp: -5
max_temp: 280
max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: toolhead:EXT_UART
stealthchop_threshold:0
run_current: 0.5


# Hotend Fan
[heater_fan hotend_fan]
pin: toolhead:FAN1
max_power: 1.0
kick_start_time:0.5
heater: extruder
heater_temp: 50.0


# Part Cooling Fan
[fan]
pin: toolhead:FAN0
kick_start_time: 0.25
cycle_time: 0.15
off_below: 0.10

#[neopixel toolhead_led]
#pin: toolhead:RGBLED
#chain_count: 3
#color_order: RGBW # GRB
#initial_RED: 1.0
#initial_GREEN: 1.0
#initial_BLUE: 1.0
#initial_WHITE: 1.0

[neopixel sb_leds]
pin: toolhead:RGBLED #   The pin connected to the neopixel. This parameter must be provided.
chain_count: 3
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0
#initial_WHITE: 0.6
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.#

# Most configuration for the macros can be done by modifying the variables in the _sb_vars macro
# at the start of this file.

# Motor Configuration ----------------------------------------- # 

# A Motor 1
[stepper_y] 
step_pin: PE6                                    
dir_pin: PE5                                     
enable_pin: !PC14                                  
endstop_pin: tmc2209_stepper_y:virtual_endstop

rotation_distance: 40
microsteps: 128
full_steps_per_rotation: 200

position_endstop: 123
position_max: 123
position_min: -2
 
homing_speed: 40
homing_retract_dist: 0
homing_positive_dir: True
#use_sensorless_homing: true

[tmc2209 stepper_y]
uart_pin: PC13                                      
diag_pin: PF4                                    
run_current: 0.8
hold_current: 0.4
interpolate: False
#stealthchop_threshold: 999999
driver_SGTHRS: 100

# B Motor 6
[stepper_x] 
step_pin: PG9                                    
dir_pin: PD7                                   
enable_pin: !PG11                                  
endstop_pin: tmc2209_stepper_x:virtual_endstop

rotation_distance: 40
microsteps: 128
full_steps_per_rotation: 200

position_endstop: 132
position_max: 132
position_min: -13

homing_speed: 40
homing_retract_dist: 0
homing_positive_dir: True
#use_sensorless_homing: true

[tmc2209 stepper_x]
uart_pin: PG10                                 
diag_pin: PC15                                    
run_current: 0.8
hold_current: 0.4
interpolate: False
#stealthchop_threshold: 999999
driver_SGTHRS: 100 #95


# Front Left Motor 4
[stepper_z]
step_pin: PB4                                 
dir_pin: PB3                                     
enable_pin:!PB6                                  

microsteps: 128
rotation_distance: 32
full_steps_per_rotation: 200

endstop_pin: probe:z_virtual_endstop  #probe:z_virtual_endstop #toolhead:PROBE_1                                                           
#position_endstop: 0
position_max: 110 
position_min:-15

[tmc2209 stepper_z]
uart_pin: PB5
run_current: 0.6
hold_current: 0.3
interpolate: False
#stealthchop_threshold: 999999

# Rear
[stepper_z1]
step_pin: PB8                                  
dir_pin: !PB7                                      
enable_pin: !PE0                                   

microsteps: 128
rotation_distance: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z1]
uart_pin: PB9                                    
run_current: 0.6
hold_current: 0.3
interpolate: False
#stealthchop_threshold: 999999


# Front Right
[stepper_z2]
step_pin: PE2                                     
dir_pin: !PE1                                      
enable_pin: !PE4                                   

microsteps: 128
rotation_distance: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z2]
uart_pin:  PE3                                    
run_current: 0.6
hold_current: 0.3
interpolate: False
#stealthchop_threshold: 999999


# Bed Configuration ------------------------------------------- #

[heater_bed]
heater_pin: PF5                                  
sensor_pin: PB0                                
sensor_type: ATC Semitec 104NT-4-R025H42G      # CHECK THERMISTOR
min_temp: 0
max_temp: 120
#control = pid
#pid_kp = 58.676
#pid_ki = 2.027
#pid_kd = 424.668

 



[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,
    
    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>
    
    

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.951
#*# pid_ki = 2.367
#*# pid_kd = 516.764
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 30.232
#*# pid_ki = 2.371
#*# pid_kd = 96.362
#*# [probe]
#*# z_offset = 10.375
