#####################################################################
# Klack voron zero- Macros
#####################################################################

[gcode_macro PROBE_OUT]
gcode:
   G90
   G1 X-7 Y112 F6000
   G1 X20 Y112 F2000
 

[gcode_macro PROBE_IN]
gcode:
   G90
   G1 Z20
   G1 X60 Y120 F4000
   G1 X-7 Y112 F4000
   G1 X-7 Y90 F4000
   G1 X60 Y0
   

[gcode_macro AUTO_BED_MESH]
gcode:
   PROBE_OUT
   BED_MESH_CALIBRATE
   #G1 Y0 F20000
   PROBE_IN

[gcode_macro G29]
gcode:
   PROBE_OUT
   BED_MESH_CALIBRATE
   #G1 Y0 F20000
   PROBE_IN

[gcode_macro Accuracy_Test]
gcode:
   PROBE_OUT
   G90
   G1 Y60 X60 F20000
   PROBE_ACCURACY
   PROBE_IN

[gcode_macro AUTO_Z_TILT_ADJUST]
gcode:
   PROBE_OUT
   Z_TILT_ADJUST
   PROBE_IN
#####################################################################




[gcode_macro PRINT_START]
gcode:
  {% set BED = params.BED_TEMP|int %}
  {% set EXTRUDER = params.EXTRUDER_TEMP|int %}
  _CHOME  ;Home all axes if not homed
  _CZTILT  ;Z Tilt if not done
  #PROBE_IN 
  M190 S{BED}  ;Set bed temperature and wait
  M109 S{EXTRUDER}  ;Set extruder temperature and wait
  _PURGE_LINE  ;Front Purge

[gcode_macro _CHOME]
gcode:
  {% if printer["gcode_macro status_homing"] != null %}
    status_homing
  {% endif %}
  {% if printer.toolhead.homed_axes != "xyz" %}
  G28
  {% endif %}
  {% if printer["gcode_macro status_ready"] != null %}
    status_ready
  {% endif %}
[gcode_macro _CZTILT]
gcode:
  {% if printer["gcode_macro status_leveling"] != null %}
    status_leveling
  {% endif %}
    {% if printer.z_tilt.applied == False %}
        Z_TILT_ADJUST
    {% endif %}
  {% if printer["gcode_macro status_ready"] != null %}
    status_ready
  {% endif %}


[gcode_macro _PURGE_LINE]
gcode:
  {% if printer["gcode_macro status_cleaning"] != null %}
    status_cleaning
  {% endif %}
  SAVE_GCODE_STATE NAME=Pre_Prime
        
  G90
  G92 E0 ;Reset Extruder

  G1 Z10.0 F3000 ;Move Z Axis up
  G1 X40 Y8;
  G1 E10.0 F1800
  G1 Z0.28 F5000.0 ;Move to start position
  G1 X86 Y8 Z0.28 F800 E20 ;Draw the first line
  G92 E0 ;Reset Extruder
  G1 Z10 F3000 ;Move Z Axis up
  RESTORE_GCODE_STATE NAME=Pre_Prime

  {% if printer["gcode_macro status_printing"] != null %}
    status_printing
  {% endif %}

#____________________________________________________________________________
[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    # Parameters
    {% set z = params.Z|default(10)|int %}                                                   ; z hop amount

    {% if printer['pause_resume'].is_paused|int == 0 %}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z}                              ; set z hop variable for reference in resume macro
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer['extruder'].target}    ; set hotend temp variable for reference in resume macro

        SET_FILAMENT_SENSOR SENSOR=L_encoder_sensor ENABLE=0                           ; disable filament sensor
        SAVE_GCODE_STATE NAME=PAUSE                                                          ; save current print position for resume
        BASE_PAUSE                                                                           ; pause print
        {% if (printer.gcode_move.position.z + z) < printer.toolhead.axis_maximum.z %}       ; check that zhop doesn't exceed z max
            G91                                                                              ; relative positioning
            G1 Z{z} F2000                                                                     ; raise Z up by z hop amount
        {% else %}
            { action_respond_info("Pause zhop exceeds maximum Z height.") }                  ; if z max is exceeded, show message and set zhop value for resume to 0
            SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
        {% endif %}
        G90                                                                                  ; absolute positioning
        G1 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} F6000   ; park toolhead at front center
        SAVE_GCODE_STATE NAME=PAUSEPARK                                                      ; save parked position in case toolhead is moved during the pause (otherwise the return zhop can error)
        M104 S0                                                                              ; turn off hotend
        SET_IDLE_TIMEOUT TIMEOUT=43200                                                       ; set timeout to 12 hours
    {% endif %}
#____________________________________________________________________________

[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
gcode:
    # Parameters
    {% set e = params.E|default(2.5)|int %}                                          ; hotend prime amount (in mm)

    {% if printer['pause_resume'].is_paused|int == 1 %}
        SET_FILAMENT_SENSOR SENSOR=L_encoder_sensor ENABLE=1                          ; enable filament sensor
        #INITIAL_RGB                                                                    ; reset LCD color
        SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}  ; set timeout back to configured value
        {% if etemp > 0 %}
            M109 S{etemp|int}                                                        ; wait for hotend to heat back up
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=100                     ; go back to parked position in case toolhead was moved during pause (otherwise the return zhop can error)
        G91                                                                          ; relative positioning
        M83                                                                          ; relative extruder positioning
        {% if printer[printer.toolhead.extruder].temperature >= printer.configfile.settings.extruder.min_extrude_temp %}
            G1 Z{zhop * -1} E{e} F900                                                ; prime nozzle by E, lower Z back down
        {% else %}
            G1 Z{zhop * -1} F900                                                     ; lower Z back down without priming (just in case we are testing the macro with cold hotend)
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=60                          ; restore position
        BASE_RESUME                                                                  ; resume print
    {% endif %}
#____________________________________________________________________________
[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout} ; set timeout back to configured value
    CLEAR_PAUSE
    PRINT_END
    BASE_CANCEL_PRINT
#____________________________________________________________________________
[gcode_macro M600]
gcode:
    PAUSE                ; Pause
#____________________________________________________________________________
[gcode_macro PRINT_END]            # Set PRINT_END as the end-of-print macro to customise the after-print action.
gcode:
    M400                           
    G92 E0                         # Zeroing the extruder
    G1 E-18 F800             # Retracting the filament
    G91                            # relative position
    G0 Z5.00 X20.0 Y20.0 F6000    # Remove nozzle
    TURN_OFF_HEATERS               # Close the hot end
    M107                           # Switch off the fan.
    G1 Z4 F3000                    # Move the nozzle up 2 mm
    G90                            # absolute positioning
    G0 X60 Y110 F3600            # Park the nozzle at the rear
    #SET_SKEW CLEAR=1               #Unloading skew correction
    # SET_LED LED=Toolhead1_rgb RED=0 GREEN=0 BLUE=0
    # SET_LED LED=HBB_LED RED=0 GREEN=0 BLUE=0



[gcode_macro update_git]
gcode:
    {% set message = params.MESSAGE|default() %}
    {% if message %}
        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
    {% else %}
        RUN_SHELL_COMMAND CMD=update_git_script
    {% endif %}

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh -c \"$0\""
timeout: 90.0
verbose: True